h1 {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
body {
  margin: 2em;
}
div {
  font-family: Arial, Helvetica, sans-serif;
}
md-toolbar {
  background: #000000;
}

.warn {
  background-color: #F44336; 
  color: #FFFFFF; 
  padding: 5px;
  margin: 5px;
}